@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Gabriela&family=Noto+Sans+KR:wght@100..900&family=Play:wght@400;700&display=swap');

header {
  width: 100%;
  background-color: #E8F0B9;
  position: relative;
  z-index: 100;
}

header .ham {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

header h1 {
  width: 300px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

header h1 a img {
  width: 250px;
}

header .h_bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header nav {
  width: 1320px;
  border-radius: 0px 40px 0px 0px;
  border: 3px solid #03734C;
  border-left: 0;
  border-bottom: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  position: relative;
  /*   overflow: hidden; */
}

header nav .nav_bg {
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 75px;
  width: 100%;
  height: 180px;
  border-radius: 0px 0px 40px 0px;
  border: 3px solid #03734C;
  border-top: 0;
  border-left: 0;
  display: none;
}

header nav ul.gnb {
  width: 1060px;
  display: flex;
}

header nav ul.gnb>li {
  width: 20%;
  text-align: center;
  position: relative;
}

header nav ul.gnb>li>a {
  width: 100%;
  height: 75px;
  line-height: 75px;
  display: block;
  font-family: "Noto Sans KR";
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}

header nav ul.gnb>li:hover>a {
  color: #03734C;
}

header nav ul.gnb>li>ul.sub {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 75px;
}

header nav ul.gnb>li>ul.sub>li {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

header nav ul.gnb>li>ul.sub>li>a {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

header nav ul.gnb>li>ul.sub>li:hover>a {
  color: #707070;
}

header ul.icon {
  width: 144px;
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

header ul.icon li {
  margin-right: 30px;
}

header ul.icon li:last-child {
  margin-right: 0;
}

main {
  position: relative;
}

main h3 {
  font-family: "Play";
  font-size: 105px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}

main p {
  font-family: "Noto Sans KR";
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
}

/* main_slide */
.slide {
  position: relative;
  width: 100%;
  height: 786px;
}

.slide .swiper-button-next,
.slide .swiper-button-prev {
  color: #03734C;
}

.slide>ul>li {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-top: 3px solid #03734C;
  background-repeat: no-repeat;
}


.slide>ul>li>.txt>h3 {
  font-family: 'Play';
  font-size: 105px;
  font-weight: 700;
  letter-spacing: 2.1px;
  line-height: normal;
}

.slide>ul>li>.txt>p {
  font-family: "Noto Sans KR";
  font-size: 30px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-top: 20px;
}

.slide>ul>li>.txt>button {
  font-family: "Noto Sans KR";
  font-size: 25px;
  font-weight: 400;
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid;
  padding: 10px 25px;
  margin-top: 60px;
}

.slide>ul>li>.txt>button:hover {
  background-color: rgba(0, 0, 0, .1);
}

.slide>ul>li:nth-child(1) {
  background-color: #fff;
  background-image: url(../img/slide1.png);
  background-position: 100px center;
  justify-content: flex-end;
}

.slide>ul>li:nth-child(1)>.txt {
  text-align: end;
  margin-right: 100px;
}

.slide>ul>li:nth-child(1)>.txt>h3>span {
  color: #03734C;
}

.slide>ul>li:nth-child(1)>.txt>p {
  color: #707070;
}

.slide>ul>li:nth-child(1)>.txt>p>span {
  color: #03734C;
}

.slide>ul>li:nth-child(2) {
  background: url(../img/slide2_bg.png);
}

.slide>ul>li:nth-child(2)>ul.card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.slide>ul>li:nth-child(2)>ul.card li {
  width: 349px;
  height: 600px;
  background: #ccc;
}

.slide>ul>li:nth-child(2)>ul.card li:nth-child(1) {
  background-image: url(../img/slide2_1.png);
}

.slide>ul>li:nth-child(2)>ul.card li:nth-child(2) {
  background-image: url(../img/slide2_2.png);
}

.slide>ul>li:nth-child(2)>ul.card li:nth-child(3) {
  background-image: url(../img/slide2_3.png);
}

.slide>ul>li:nth-child(2)>ul.card li:nth-child(3)>.txt {
  text-align: center;
  color: #000;
  margin-top: 136px;
}

.slide>ul>li:nth-child(2)>ul.card li:nth-child(3)>.txt>h3 {
  color: #fff;
}

.slide>ul>li:nth-child(2)>ul.card li:nth-child(3)>.txt>p>span {
  color: #FFA800;
}

.slide>ul>li:nth-child(2)>ul.card li:nth-child(3)>.txt>button {
  font-family: "Noto Sans KR";
  font-size: 25px;
  font-weight: 400;
  background-color: transparent;
  border-radius: 20px;
  border: 0;
  padding: 10px 40px;
  margin-top: 40px;
}

.slide>ul>li:nth-child(2)>ul.card li:nth-child(3):hover>.txt>button {
  text-decoration: underline;
}

.slide>ul>li:nth-child(3) {
  background-color: #000;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

.slide>ul>li:nth-child(3)>.txt {
  text-align: center;
  color: #fff;
  /*   margin-right: ; */
}

.slide>ul>li:nth-child(3)>.txt>p>span {
  color: #FFE023;
}

.slide>ul>li:nth-child(3)>.txt>button {
  color: #fff;
}

.slide>ul>li:nth-child(3)>.txt>button:hover {
  background-color: rgba(255, 255, 255, .2);
}

.slide>ul>li:nth-child(4) {
  background: url(../img/slide4_bg.png) no-repeat;
  justify-content: center;
}

.slide>ul>li:nth-child(4)>.txt {
  text-align: center;
  margin-top: 270px;
  color: #fff;
}

.slide>ul>li:nth-child(4)>.txt>h3>span {
  color: #00369F;
}

.slide>ul>li:nth-child(4)>.txt>p {
  color: #707070;
}

.slide>ul>li:nth-child(4)>.txt>p>span {
  color: #00369F;
}

.slide>ul>li:nth-child(4)>.txt>p>em {
  color: #fff;
}

.slide>ul>li:nth-child(4)>.txt>button {
  color: #00369F;
}

.slide>ul>li:nth-child(5) {
  background: url(../img/slide5_bg.png) no-repeat;
  justify-content: space-evenly;
}

.slide>ul>li:nth-child(5)>.txt {
  text-align: end;
  color: #fff;
}


.slide>ul>li:nth-child(5)>.txt>p>span {
  color: #FFB392;
}

.slide>ul>li:nth-child(5)>.txt>p>em {
  color: #FDEDDA;
}

.slide>ul>li:nth-child(5)>.txt>button {
  color: #fff;
}

/* luck */
.luck {
  width: 100%;
  background-color: #E8F0B9;
  padding: 100px 0 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #03734C;
}

.luck .luck_all {
  padding: 120px 0 200px 0;
}

.luck h3 {
  color: #707070;
  text-align: center;
  position: relative;
  z-index: 10;
}

.luck h3 span {
  color: #03734C;
}

.luck .container {
  width: 1700px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -58px;
  border-radius: 90px;
  background: #FFF;
  box-shadow: 5px 4px 12px 0px rgba(0, 0, 0, 0.25);
  position: relative;
}

.luck .luck_all ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.luck .luck_all ul li {
  display: flex;
  width: 410px;
  height: 640px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 40px;
  background: #FFF;
  box-shadow: 5px 4px 12px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  overflow: hidden;
}

.luck .luck_all ul li img {
  margin-bottom: 100px;
}

.luck .luck_all ul li .txt_box {
  margin-bottom: 50px;
}

.luck .luck_all ul li p>span,
.luck .luck_all ul li p>em {
  font-weight: bold;
}

.luck .luck_all ul li>.hover_box {
  position: absolute;
  left: 0;
  top: 260px;
  border-radius: 40px;
  width: 100%;
  height: 380px;
  background-color: #E8F0B9;
  transition: 1s;
  transform: translateY(100%);
}

.luck .luck_all ul li:hover>.hover_box {
  transform: translateY(0);
}

.luck .luck_all ul li .hover_box>.txt {
  margin-top: 50px;
}

.luck .luck_all ul li .hover_box i {
  font-size: 40px;
  margin-top: 20px;
  color: #B5C16B;
}

.luck .luck_all ul li:nth-child(1) .hover_box p span {
  color: #FFA800;
}

.luck .luck_all ul li:nth-child(2) .hover_box p span {
  color: #00369F;
}

.luck .luck_all ul li:nth-child(3) .hover_box p span {
  color: #5BBA93;
}

.luck .luck_all ul li p {
  font-family: "Play";
  font-size: 30px;
  font-weight: 400;
  line-height: 1.4;
}

.luck .luck_all ul li .hover_box>.txt>button {
  font-family: "Noto Sans KR";
  font-size: 25px;
  font-weight: 400;
  background-color: #F9FFD2;
  border-radius: 20px;
  border: 0;
  padding: 10px 40px;
  margin-top: 40px;
}

.luck .luck_all ul li .hover_box>.txt>button:hover {
  background-color: rgba(0, 0, 0, .1);
}

.luck .luck_all ul li .hover_box>.txt>button>i {
  font-size: 30px;
  margin-top: 0;
  color: #000;
}

.luck .luck_all ul li:nth-child(1) p>span {
  color: #5B68A3;
}

.luck .luck_all ul li:nth-child(2) p>span {
  color: #FFA3C4;
}

.luck .luck_all ul li:nth-child(3) p>span {
  color: #8A5CBC;
}

.luck .luck_all ul li:nth-child(1) p>em {
  color: #FFA800;
}

.luck .luck_all ul li:nth-child(2) p>em {
  color: #00369F;
}

.luck .luck_all ul li:nth-child(3) p>em {
  color: #5BBA93;
}

.luck .luck_all .clover {
  position: absolute;
  bottom: 30px;
  left: 801px;
  display: none;
}



/* tarot */
.tarot {
  width: 100%;
  background-color: #E8F0B9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 175px 0;
}

.tarot .tit {
  text-align: start;
  margin-top: 190px;
  margin-left: 165px;
  margin-bottom: 48px;
}

.tarot h3 {
  color: #fff;
}

.tarot p {
  color: #fff;
}

.tarot .container {
  width: 1800px;
  height: 1252px;
  background-color: #000;
  border-radius: 90px;
}

.tarot ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.tarot ul li {
  width: 390px;
  height: 600px;
  position: relative;
  transition: .6s;
  transform-style: preserve-3d;
}

.tarot ul li:hover {
  transform: rotateY(180deg);
}

.tarot ul li .front {
  width: 100%;
  height: 100%;
  background: lightgray 50% / cover no-repeat;
  position: absolute;
  left: 0;
  top: 0;
}

.tarot ul li:nth-child(1) .front {
  background-image: url(../img/tarot1.png);
}

.tarot ul li:nth-child(2) .front {
  background-image: url(../img/tarot2.png);
}

.tarot ul li:nth-child(3) .front {
  background-image: url(../img/tarot3.png);
}

.tarot ul li .back {
  width: 100%;
  height: 100%;
  background: #ccc;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  background-image: url(../img/tarot_b.png);
}

.tarot ul li .back .txt {
  text-align: center;
  margin-top: 178px;
}

.tarot ul li:nth-child(1) .back>.txt {
  margin-top: 136px;
}

.tarot ul li .back>.txt h3 {
  color: #00369F;
  font-family: "Fraunces";
  font-size: 85px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.7px;
}

.tarot ul li .back>.txt p {
  color: #00369F;
  font-family: "Noto Sans KR";
  font-size: 35px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.7px;
}

.tarot ul li .back>.txt p>span {
  color: #FFA800;
}

.tarot ul li .back>.txt>button {
  font-family: "Noto Sans KR";
  font-size: 25px;
  font-weight: 400;
  background-color: transparent;
  border-radius: 20px;
  border: none;
  margin-top: 72px;
  color: #00369F;
}

.tarot ul li .back>.txt>button:hover {
  color: #FFA800;
}

.tarot ul li:nth-child(1) .back>.txt>button {
  margin-top: 100px;
}


/* lotto */
.lotto {
  width: 100%;
  background-image: url(../img/lotto.png);
  background-repeat: no-repeat;
  background-position: 182px 400px;
  display: flex;
  justify-content: space-evenly;
  padding: 111px 0;
}

.lotto .txt {
  text-align: start;
}

.lotto h3>b {
  color: #B5C16B;
}

.lotto h3>b>strong {
  color: #FFE023;
}

.lotto span {
  font-family: "Noto Sans KR";
  font-size: 30px;
  font-weight: 500;
  color: #707070;
}

.lotto span>strong {
  color: #FFE023;
}

.lotto>ul {
  width: 720px;
  height: 788px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.lotto>ul>li {
  width: 719px;
  height: 236px;
  border-radius: 50px;
  border: 2px solid #ECECEC;
  position: relative;
  transition: .6s;
}

.lotto ul li:hover {
  border-radius: 90px;
  border-color: #B5C16B;
}


.lotto>ul>li:nth-child(1) {
  background: linear-gradient(90deg, #FFF 0%, #DCDCDC 100%);
  background-repeat: no-repeat;
  position: relative;
}

.lotto>ul>li:nth-child(1)>img {
  position: absolute;
  right: 33px;
  top: 18px;
}

.lotto>ul>li:nth-child(1)>p {
  font-family: "Gabriela";
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  color: #B5C16B;
  position: absolute;
  top: 64px;
  left: 81px;
}

.lotto>ul>li:nth-child(1)>p>span {
  color: #FFA800;
}

.lotto>ul>li:nth-child(2) {
  background-image: url(../img/lotto2_bg.jpg);
  opacity: .6;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.lotto>ul>li:nth-child(3) {
  background: linear-gradient(180deg, #FFF 0%, #EBEBEB 50%, #FFF 100%);
  background-repeat: no-repeat;
}

.lotto ul li:nth-child(3)>.txt {
  text-align: center;
  margin-top: 20px;
}

.lotto ul li:nth-child(3)>.txt>h4 {
  font-family: "Noto Sans KR";
  font-size: 25px;
  font-weight: 400;
  color: #2f2f2f;
}

.lotto ul li:nth-child(3)>.txt>h4>span {
  color: #FD746D;
}

.lotto ul li:nth-child(3)>.txt h4>em {
  color: #707070;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 400;
}


.lotto>ul>li:nth-child(3)>ul.lottob {
  margin-top: 11px;
  display: flex;
  justify-content: space-evenly;
}

.lotto ul li:nth-child(3) ul.lottob>li {
  width: 69px;
  height: 68px;
  border-radius: 100px;
  border: 0;
}

.lotto ul li:nth-child(3) ul.lottob>li:nth-child(7) {
  width: 10px;
  height: 10px;
}

.lotto ul li:nth-child(3) ul.lottob>li>p {
  text-align: center;
  line-height: 68px;
  color: #FFF;
  font-family: "Noto Sans KR";
  font-size: 17px;
  font-weight: 500;
}

.lotto ul li:nth-child(3) ul.lottob>li.b {
  background-color: #69C8F2;
}

.lotto ul li:nth-child(3) ul.lottob>li.g {
  background-color: #aaa;
}

.lotto ul li:nth-child(3) ul.lottob>li.r {
  background-color: #FF7272;
}

.lotto ul li>button:hover {
  color: #000;
}

.lotto ul li>button {
  padding: 12px 30px 12px 31px;
  position: absolute;
  left: 0;
  bottom: 0;
  font-family: "Noto Sans KR";
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
  letter-spacing: 0.4px;
  margin-left: 20px;
  margin-bottom: 5px;
  border: 0;
  background-color: transparent;
  color: #707070;
}

.lotto ul li:nth-child(2)>button {
  color: #fff;
}

.lotto ul li:nth-child(2)>button:hover {
  color: #ccc;
}

/* dream */

.dream {
  width: 100%;
  background-color: #E8F0B9;
  padding: 197px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dream ul {
  width: 1770px;
  height: 717px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.dream ul li {
  width: 465px;
  height: 100%;
  background: #F9FFD2;
  border-radius: 26px;
  overflow: hidden;
  transition: .6s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dream ul li.on {
  width: 780px;
}

.dream ul li p {
  color: #707070;
  font-family: "Noto Sans KR";
  font-size: 25px;
  font-weight: 400;
}

.dream ul li:nth-child(1)>p {
  margin-top: 100px;
}

.dream ul li:nth-child(2)>p {
  margin-top: 0;
}

.dream ul li:nth-child(3)>p {
  margin-top: 90px;
}

.dream ul li>p>span {
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 30px;
  font-weight: 500;
}

.dream ul li>p>em {
  color: #5B68A3;
  font-size: 30px;
  font-weight: 500;
}

.dream ul li:nth-child(1)>p>span {
  color: #03734C;
}


.dream ul li:nth-child(2)>p>span {
  color: #FFA800;
}

.dream ul li:nth-child(3)>p>span {
  color: #8A5CBC;
}


.dream ul li>button {
  padding: 10px 20px;
  border-radius: 26px;
  border: 2px solid #526A52;
  background-color: transparent;
  margin-top: 40px;
  color: #526A52;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 23px;
}

.dream ul li>button:hover {
  background-color: rgba(0, 0, 0, .1);
}


/* palm */

.palm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.palm .container {
  width: 1242px;
  padding: 180px 0;
}

.palm ul.tab {
  display: flex;
}

.palm ul.tab li {
  width: 360px;
  height: 80px;
  border-radius: 30px 30px 0px 0px;
  background-color: #ECECEC;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px 30px 0px 0px;
  border: 2px solid #FFB392;
  border-bottom: 0;
  border-left: 0;
  cursor: pointer;
}

.palm ul.tab li:nth-child(1) {
  border-left: 2px solid #FFB392;
}

.palm ul.tab li:hover {
  background-color: #fff;
}

.palm ul.tab li>p {
  color: #2F2F2F;
  font-family: "Noto Sans KR";
  font-size: 25px;
}

.palm ul.tab li.on {}

.palm ul.tab li img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}


.palm ul.con {
  width: 1242px;
  height: 534px;
  border-radius: 0px 50px 50px 50px;
  border: 2px solid #FFB392;
  background: #FFF;
  position: relative;
}

.palm ul.con>li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}

.palm ul.con>li.on {
  display: block;
}

.palm ul.con>li>a {}


.palm ul.con>li>a>.palm1>img {
  position: absolute;
  left: 90px;
  top: 40px;
}

.palm ul.con>li>a>.palm2>img {
  position: absolute;
  left: 147px;
  bottom: 0;
}

.palm ul.con>li>a>.palm3>img {
  position: absolute;
  left: 172px;
  top: 25px;
}

.palm ul.con>li>a>div>.txt {
  color: #2F2F2F;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.palm ul.con>li>a>.palm1>.txt {
  position: absolute;
  right: 66px;
  bottom: 209px;
}

.palm ul.con>li>a>.palm2>.txt {
  position: absolute;
  right: 27px;
  bottom: 224px;
}

.palm ul.con>li>a>.palm3>.txt {
  position: absolute;
  right: 34px;
  top: 224px;
}

.palm ul.con>li>a>div>.txt>p>span {
  color: #FD746D;
}

.palm ul.con>li>a>div>.txt>i {
  margin-left: 19px;
  color: #FD746D;
}

.palm ul.con>li>a>div:hover>.txt>i,
.palm ul.con>li>a>div:hover>.txt>p>span {
  color: #8A5CBC;
}

.palm ul.con>li>a>div:hover>.txt {
  color: #707070;
}

.palm ul.con>li>.palm2 {}

.palm ul.con>li>.palm3 {}



/* footer */

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8F0B9;
}

footer .container {
  width: 1330px;
  height: 347px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0 100px 0;
}

footer .f_left {
  height: 341px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.8;
}

footer .f_left h1 img {
  width: 230px;
  object-fit: cover;
  text-align: center;
  transition: .4s;
}

footer .f_left h1 img:hover {
  transform: scale(1.1);
}

footer .f_left p {
  color: #707070;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
}

footer .f_left p>span {
  font-weight: 600;
}

footer .f_left .copy {
  color: #707070;
  font-family: "Noto Sans KR";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-top: 50px;
}

footer .f_right {
  width: 654px;
  height: 343px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 100px;
}

footer .f_right ul.navi {
  width: 654px;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

footer .f_right ul.navi li {
  transition: .5s;
}

footer .f_right ul.navi li:hover {
  transform: scale(1.2);
}

footer .f_right ul.navi li a {
  display: block;
}

footer .f_right ul.navi li a img {
  width: 90px;
}

footer .f_right ul.sns {
  width: 242px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  color: #B5C16B;
}

footer .f_right ul.sns li {
  transition: .3s;
}

footer .f_right ul.sns li:hover {
  color: #526A52;
}

footer .f_right ul.sns li a {
  display: block;
}

footer .f_right ul.sns li a i {
  font-size: 30px;
}