@charset "utf-8";
@font-face {
  font-family: 'Uiyeun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105@1.1/Uiyeun.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SeoulNamsanM';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'InkLipquid';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Jua&family=Nanum+Gothic&family=Noto+Sans+KR:wght@100..900&family=Play:wght@400;700&display=swap');

/* fixed */
.fixed {
  font-size: 80px;
  color: #a2cc82;
  position: fixed; right: 160px; bottom: 40px; z-index: 99;
  transition: .4s;
}
.fixed:hover{
  color: #6e9455;
}
/* header */
header {
  width: 100%; height: 120px;
  display: flex; justify-content: center;
  position: relative; z-index: 10;
  border-bottom: 2px solid #617255;
}
header .con {
  width: 1320px;
  display: flex; align-items: flex-end; justify-content: space-evenly;
}
header h1 {
  width: 200px; height: 73px;
  background-image: url(/img/logo.png);
  background-size: 194px;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}
header h1 a {
  display: flex; align-items: center; justify-content: center;
}
header nav {
  width: 850px; height: 53px;
  text-align: center;
}
header nav>ul.gnb {
  display: flex;
  width: 100%; height: 53px;
}
header nav>ul.gnb>li {
  width: 20%;
}
header nav>ul.gnb>li:first-child>a {
  color: #FF9356;
}
header nav>ul.gnb>li>a {
  height: 55px;
  color: #a2cc82; font-family: 'NanumGothic'; font-size: 22px; line-height: 2; font-weight: 600;
  display: block;
  transition: .4s;
}
header nav>ul.gnb>li:hover a {
  color: #313d29;
}
header nav>ul.gnb>li>ul.sub {
  width: 100%; height: 240px;
  background-color: rgba(213, 233, 211, 0.7);
  border-radius: 0 0 20px 20px;
  display: none;
}
header nav>ul.gnb>li>ul.sub>li {}
header nav>ul.gnb>li>ul.sub>li>a {
  color: #617255; font-family: 'NanumGothic'; font-size: 16px; line-height: 2.4;
  display: block;
}
header nav>ul.gnb>li>ul.sub>li:hover>a {
  font-weight: bold;
}
header ul.icon {
  width: 190px; height: 63px;
  display: flex; justify-content: space-evenly; align-items: center;
}
header ul.icon li {}
header ul.icon li a {
  display: block;
}
header ul.icon li a i {
  font-size: 28px; color: #a2cc82;
  transition: .4s;
}
header ul.icon li:hover a i {
  color: #313d29;
}

/* main */
section{
  width: 100%;
}

/* banner */
section.banner {
  height: 551px;
  display: flex; justify-content: center;
}
.banner .con {
  width: 1563px; height: 100%;
  background-image: url(../img/banner.png);
  background-size: 1563px;
  position: relative;
  display: flex; align-items: center;
}
.banner ul.txt {
  width: 413px; height: 230px;
  display: flex; flex-direction: column; align-items: center; justify-content: space-between;
  position: absolute; right: 250px;
}
.banner ul.txt li {
  text-align: center; font-weight: 400; line-height: 1.4;
}
.banner ul.txt li:first-child {
  color: #4E8928; font-family: "THEFACESHOP INKLIPQUID"; font-size: 50px;
}
.banner ul.txt li:last-child {
  color: #616161; font-family: "SeoulNamsanM"; font-size: 17px;
}

/* menu */
section.menu {
  height: 300px;
  display: flex; justify-content: center; align-items: center;
}
.menu .con {
  width: 1200px; height: 196px;
  border-radius: 40px;
  border: 2px solid #90B574;
  display: flex; align-items: center; justify-content: center;
}
.menu ul {
  width: 1026px; height: 180px;
  display: flex; justify-content: space-evenly; align-items: center;
}
.menu ul li {
  width: 120px; height: 180px;
  display: flex;
}
.menu ul li a {
  display: flex; flex-direction: column; justify-content: space-evenly;
}
.menu ul li a .img {
  width: 120px; height: 120px;
  border-radius: 99px;
  background-repeat: no-repeat;
  object-fit: cover;
  opacity: .8;
  transition: .4s;
}
.menu ul li:nth-child(1)>a>.img {
  background-image: url(../img/nav_new.png);
}
.menu ul li:nth-child(2)>a>.img {
  background-image: url(../img/nav_bread.png);
}
.menu ul li:nth-child(3)>a>.img {
  background-image: url(../img/nav_cake.png);
}
.menu ul li:nth-child(4)>a>.img {
  background-image: url(../img/nav_deli.png);
}
.menu ul li:nth-child(5)>a>.img {
  background-image: url(../img/nav_des.png);
}
.menu ul li:nth-child(6)>a>.img {
  background-image: url(../img/nav_beve.png);
}
.menu ul li:nth-child(7)>a>.img {
  background-image: url(../img/nav_gift.png);
}
.menu ul li:hover a .img {
  opacity: 1; transform: scale(1.1);
}
.menu ul li p {
  font-size: 18px; text-align: center; color: #B0BEA6; font-family: 'NanumGothic'; font-weight: 500;
}
.menu ul li:hover p {
  color: #313d29;
}

/* search */
section.search {
  height: 185px;
  display: flex; justify-content: center; align-items: center;
}
.search .con {
  width: 800px; height: 125px;
  display: flex; flex-direction: column; align-items: center; justify-content: space-between;
}
.search form {
  width: 100%; height: 80px;
  background-color: #F9F9F9;
  border-radius: 38px; border: 3px solid #90B574;
  display: flex; align-items: center; justify-content: space-evenly;
}
.search form input {
  width: 650px; height: 80px; background: none; border: none; outline: none;
  font-size: 22px; font-family: "NanumGothic"; font-weight: 700;
}
.search form ::-webkit-input-placeholder {
  color: #95B979;
}
.search form i {
  font-size: 30px; box-sizing: border-box; color: #90B574;
  transition: .4s;
}
.search form i:hover {
  color: #556d44;
}
.search ul.tag {
  width: 619px; height: 20px;
  display: flex; justify-content: space-between; align-items: center;
}
.search ul.tag li {
  color: #B9C7AE; font-family: 'NanumGothic'; font-size: 16px; font-weight: 500;
}
.search ul.tag li a {
  display: block;
  transition: .4s;
}
.search ul.tag li:hover a {
  color: #313d29;
}