@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* Reset css */
*{margin: 0; padding: 0;}
ol,ul{list-style: none;}
a{outline: 0; text-decoration: none; color: #555;}
img{border:0;}
body{font:12px/1.6 arial; color: #555; /* overflow-y: hidden; */}

h1 {
  position: fixed; top: 50px; left: 50px; z-index: 10;
}
h1 img {width: 200px;}
ul#sns {
  position: fixed; top: 50px; right: 50px; z-index: 10;
  display: flex;
}
ul#sns li {
  margin-left: 20px;
}
ul#sns li i {
  font-size: 25px; color: #111; opacity: .5;
  transition: .5s;
}
ul#sns li i:hover {
  transform: scale(1.5);
  opacity: 1;
}

ul#menu {
  position: fixed; left: 0; top: 50%; transform: translateY(-50%); z-index: 10;
}
ul#menu li a {
  width: 200px; height: 60px;
  display: block;
  font-size: 14px; color: #000; text-align: right; font-family: 'Righteous', sans-serif;
  overflow: hidden;
  box-sizing: border-box; border-top: 1px solid #111;
  opacity: 0.8;
  transition: all 0.5s;
}
ul#menu li:hover a, ul#menu li.on a {
  opacity: 1;
  font-size: 24px;
}
ul#menu li:nth-child(1):hover a{color: #d4164c; border-color: #d4164c;}
ul#menu li:nth-child(2):hover a{color: #fff; border-color: #fff}
ul#menu li:nth-child(3):hover a{color: #ffec6a; border-color: #ffec6a;}
ul#menu li:nth-child(4):hover a{color: #005a89; border-color: #005a89;}

ul#menu li:nth-child(1).on a{color: #d4164c; border-color: #d4164c;}
ul#menu li:nth-child(2).on a{color: #fff; border-color: #fff}
ul#menu li:nth-child(3).on a{color: #ffec6a; border-color: #ffec6a;}
ul#menu li:nth-child(4).on a{color: #005a89; border-color: #005a89;}

/* 레이아웃 */
#wrap {}
#wrap section {
  width: 100%; height: 100vh;
  position: relative;
  background-size: cover; background-position: right center; background-attachment: fixed;
  overflow: hidden;
}
#wrap section:nth-child(1) {background-image: url(../img/bg1.jpg);}
#wrap section:nth-child(2) {background-image: url(../img/bg2.jpg);}
#wrap section:nth-child(3) {background-image: url(../img/bg3.jpg);}
#wrap section:nth-child(4) {background-image: url(../img/bg4.jpg);}
#wrap section article {
  position: absolute; top: 46%; left: 300px; z-index: 9;
}
#wrap section article h2 {
  font-family: "Righteous", sans-serif; font-size: 50px; letter-spacing: 2px; line-height: 1;
}
#wrap section article p {
  font-size: 16px;
}
#wrap section:nth-child(1) article h2 {color: #d4164c;}
#wrap section:nth-child(1) article p {color: #111;}
#wrap section:nth-child(2) article h2 {color: #fff;}
#wrap section:nth-child(2) article p {color: #fff;}
#wrap section:nth-child(3) article h2 {color: #fff;}
#wrap section:nth-child(3) article p {color: #ffec6a;}
#wrap section:nth-child(4) article h2 {color: #005a89;}
#wrap section:nth-child(4) article p {color: #111;}

/* 첫번째 박스 이미지 */
.p11{position: absolute; bottom: 20px; right: 20px;}
.p12{position: absolute; bottom: -40px; right: 130px;}
.p13{position: absolute; top:180px; right: 60px;}

/* 두번째 박스 이미지 */
.p21{position: absolute; bottom: -480px; right: -180px;}
.p22{position: absolute; bottom: -40px; right: 130px;}

/* 세번째 박스 이미지 */
.p31{position: absolute;bottom: 30px; right: 180px;}
.p32{position: absolute;bottom: -270px; right: 110px;}
.p33{position: absolute; bottom: -130px; right: -70px;}

/* 네번째 박스 이미지 */
.p41{position: absolute; bottom: -120px; right: 20px;}
.p42{position: absolute;bottom: -180px; right: 0;}
